.header {
  margin-top: 60px;
}
.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Lora", sans-serif;
  color: #444;
}
.header-title-sm {
  position: absolute;
  top: 18%;
  font-size: 20px;
  font-weight: 400;
}
.header-title-lg {
  position: absolute;
  top: 20%;
  font-size: 100px;
  font-weight: 400;
}
.header-img {
  width: 100%;
  object-fit: cover;
  margin-top: 80px;
}
